# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
client/dist/
server/dist/

# Prisma
server/prisma/migrations/

# Environment Variables
*.env

# Vercel / Netlify
.vercel/
.netlify/

# IDEs and OS junk
.vscode/
.idea/
.DS_Store

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
dist-ssr/
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
